GLFW_ICON ICON "robot64.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "Bribbleco"
      VALUE "FileDescription", "Robot 64"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "robot64"
      VALUE "LegalCopyright", "friggin uhh idk"
      //VALUE "OriginalFilename", "robot64.exe"
      VALUE "Robot 64", "Robot 64"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
